apiVersion: remediation.medik8s.io/v1alpha1
kind: NodeHealthCheck
metadata:
  name: nodehealthcheck-worker
spec:
  minHealthy: 51% 
  remediationTemplate:
    apiVersion: self-node-remediation.medik8s.io/v1alpha1
    kind: SelfNodeRemediationTemplate
    namespace: {{ node_health_check_namespace }}
    name: self-node-remediation-automatic-strategy-template
  selector: 
    matchExpressions:
      - key: node-role.kubernetes.io/worker
        operator: Exists
  unhealthyConditions: 
    - type: Ready
      status: "False"
      duration: {{ condition_duration }}
    - type: Ready
      status: Unknown
      duration: {{ condition_duration }}
